# Ignore the audio folder
/audio/other
/audio/degraded
/audio/reference/backup
/audio/reference/chinese
/audio/reference/spanish
/audio/reference/turkish/extra
/audio/reference/english/extra
/audio/reference/korean/extra

# Ignore the __pycache__ folder
/__pycache__/

# Ignore the .idea folder
/.idea/

/src/__pycache__